//Colors

$light-purple: #ECE5F0;
$dark-purple: #5A0B4D;
$rich-black: #000807;
$green: #003B36;
$dark-green: #012622;

//Spacing
//m-size
$m-size: 1.6rem;
$l-size: 3.2rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;